<!--
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">WebVM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/vm">Сервера</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/task">Заявки</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
-->

  <header>
    <div class="px-3 py-2 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none h3">
            WebVM
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/" class="nav-link text-secondary small">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="bootstrap-icons.svg#house-door"/></svg>
                Главная
              </a>
            </li>
            <li>
              <a href="/vm" class="nav-link text-white small">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="bootstrap-icons.svg#speedometer2"/></svg>
                Сервера
              </a>
            </li>
            <li>
              <a href="/task" class="nav-link text-white small">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="bootstrap-icons.svg#table"/></svg>
                Заказы
              </a>
            </li>
            <li>
              <a href="/product" class="nav-link text-white small">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="bootstrap-icons.svg#grid"/></svg>
                Продукты
              </a>
            </li>
            <li>
              <a href="/customer" class="nav-link text-white small">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="bootstrap-icons.svg#person-circle"/></svg>
                Клиенты
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">

        </form>

        <div class="text-end">
          <a *ngIf="!authService.isLogin()" href="/login" type="button" class="btn btn-primary small me-3 border-0">Вход</a>
        </div>
        <div class="text-end">
          <button *ngIf="authService.isLogin()" (click)="authService.logout()" type="button" class="btn btn-secondary text-bg-dark small me-3 border-0">Выход</button>
        </div>
      </div>
    </div>
  </header>

<div class="container">
  <router-outlet></router-outlet>
</div>

