/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bg-light{
  background-color: rgb(248, 249, 250);
}
.small{
  font-size:95%;
}
.text-bg-dark{
  background: #444444 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-mdc-select-value-text {
  font-size: 90% !important;
}
.mat-mdc-option .mdc-list-item__primary-text {
  font-size: 90% !important;
}
